._1g3v48c2{overflow:hidden;width:var(--_1g3v48c0);height:var(--_1g3v48c1)}._1g3v48c2[data-fullscreen=true]>img{min-height:40rem;min-width:40rem;aspect-ratio:1 / 1;height:100%;object-fit:contain;width:100%}._1g3v48c2>a{cursor:pointer}
